<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_promo</name>
    <displayName><![CDATA[Promo]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays a promotion banner on your shop.]]></description>
    <author><![CDATA[Projet 3]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>